In [1]:
import pandas as pd
alunosDic =  {'Nome': ['Ricardo', 'Pedro', 'Roberto', 'Carlos'], 
        'Notas': [4, 7, 5.5, 9],
        'Aprovado': ['Não', 'Sim', 'Não', 'Sim']}
alunosDF = pd.DataFrame(alunosDic)
print(alunosDF)

      Nome  Notas Aprovado
0  Ricardo    4.0      Não
1    Pedro    7.0      Sim
2  Roberto    5.5      Não
3   Carlos    9.0      Sim

In [4]:
alunosDF['Aprovado'] # faz uma filtragem por coluna

0    Não
1    Sim
2    Não
3    Sim
Name: Aprovado, dtype: object

In [12]:
alunosDF.loc[[3]] # informa a linha do índice passado

     Nome  Notas Aprovado
3  Carlos    9.0      Sim

In [16]:
alunosDF.loc[alunosDF['Notas'] >= 6]

     Nome  Notas Aprovado
1   Pedro    7.0      Sim
3  Carlos    9.0      Sim