In [4]:
import pandas as pd
arquivo = pd.read_csv(r'C:\Users\heito\OneDrive\Documentos\estudos\machine_learning\dataset\wine_dataset.csv')
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [5]:
arquivo['style'] = arquivo['style'].replace('red', 0) # vinho tinho
arquivo['style'] = arquivo['style'].replace('white', 1) #vinho branco

In [6]:
y = arquivo['style']
x = arquivo.drop('style', axis=1)

In [7]:
# criando os conjuntos de dados de treino e teste
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [8]:
# criação do modelo
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#Imprimindo resultados
resultado = modelo.score(x_teste, y_teste)
print('Acurácia:', resultado)

Acurácia: 0.9943589743589744

In [9]:
y_teste[400:403]

2983    1
4151    1
4628    1
Name: style, dtype: int64

In [10]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
2983,6.8,0.23,0.40,1.6,0.047,5.0,133.0,0.99300,3.23,0.70,11.4,6
4151,6.6,0.36,0.52,11.3,0.046,8.0,110.0,0.99660,3.07,0.46,9.4,5
4628,7.1,0.47,0.29,14.8,0.024,22.0,142.0,0.99518,3.12,0.48,12.0,8

In [11]:
previsoes = modelo.predict(x_teste[400:403])

In [12]:
previsoes

array([1, 1, 1], dtype=int64)